/* reset */
* {
    box-sizing: border-box;
    outline: none;
    line-height: 1.3;
}
body { 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}

/* grid */
#wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column;
}
#content {
    display: flex;
    flex-flow: column;
    padding: 0 15px;
    height: 100%;
    align-items: center;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    align-items: center;
}
#salaryCalculator {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 15px 0 25px;
    max-width: 500px;
    width: 100%;
}
#salaryCalculator form {
    width: 100%;
}
#result {
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
}
.result {
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
    color: #000000;
}
#result span {
    margin-left: 3px;
}
#expensesTable {
    margin-bottom: 15px;
}

/* messages */
.message {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
}
.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

/* input */
.input-group input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    font-weight: 500;
    outline: none;
}
.input-group {
    position: relative;
    margin-bottom: 25px;
}
.input-group:last-child {
    margin-bottom: 0;
}
.input-group label {
    display: block;
    font-size: 15px;
    color: #999999;
    padding-left: 5px;
    font-weight: 500;
    cursor: pointer;
}
.input-focus {
    display: block;
    width: 100%;
}
.input-focus:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #1976D2;
    transition: 0.35s ease all;
    -moz-transition: 0.35s ease all;
    -webkit-transition: 0.35s ease all;
}
.input-group input:focus ~ .input-focus::before {
    width: 100%;
}
.inputSubmit {
    width: 100%;
    height: 40px;
    background-color: #1976D2;
    border: 1px solid #1976D2;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 3px 12px 1px #ccc;
    -moz-box-shadow: 0 3px 12px 1px #ccc;
    -webkit-box-shadow: 0 3px 12px 1px #ccc;
    -o-box-shadow: 0 3px 12px 1px #ccc;
    -ms-box-shadow: 0 3px 12px 1px #ccc;
    transition: all .2s;
    font-family: montserrat;
    font-weight: 500;
}

/* select */
.select {
    width: 51px;
    margin-left: 10px;
    height: 35px;
    padding: 4px;
    border-radius:4px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.select-container {
    position: relative;
}
.select-container label:after {
    content:'<>';
    font: 11px "Consolas", monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 1px; 
    top: 9px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}

/* table */
.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    max-width: 500px;
    width: 500px;
}
.table-mobile {
    width: 100%;
}
.table .thead-dark td {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}
.table td, .table th {
    padding: 12px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

/* header */
#header {
    padding: 15px;
    background: #1976D2;
    color: #fff;
    box-shadow: 0 1px 5px 1px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header img {
    max-width: 30px;
}
#header h1 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

/* content */
.calculateButtons {
    display: flex;
    justify-content: space-between;
}
.calculateButtons button {
    width: 49%;
}
#allResults {
    width: 100%;
    max-width: 500px;
}
/* footer */
#footer {
    margin-top: auto;
}
#links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin: 10px;
}
#links a img {
    max-width: 24px;
    margin-left: 10px;
}

/* responsive */
@media (max-width: 530px) {
    /* input */
    .input-group input {
        width: 100%;
    }
    #expensesTable {
        overflow-x: auto;
    }
}

@media (max-height: 630px) {
    /* input */
    .input-group input {
        width: 100%;
    }
    #wrapper {
        height: 100%;
        min-height: 100vh;
    }
}