/* reset */
* {
    box-sizing: border-box;
    outline: none;
    line-height: 1.3;
}
body { 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}

/* grid */
#wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column;
}
#content {
    display: flex;
    flex-flow: column;
    padding: 0 15px;
    height: 100%;
    align-items: center;
}
#salaryCalculator {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 15px 0;
    max-width: 500px;
    width: 100%;
}
#salaryCalculator form {
    width: 100%;
}
#result {
    font-size: 16px;
}

/* input */
.input-group input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    font-weight: 500;
    outline: none;
}
.input-group {
    position: relative;
    margin-bottom: 25px;
}
.input-group:last-child {
    margin-bottom: 0;
}
.input-group label {
    display: block;
    font-size: 15px;
    color: #999999;
    padding-left: 5px;
    font-weight: 500;
}
.input-focus {
    position: relative;
    display: block;
    width: 100%;
}
.input-focus:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #1976D2;
    transition: 0.35s ease all;
    -moz-transition: 0.35s ease all;
    -webkit-transition: 0.35s ease all;
}
.input-group input:focus ~ .input-focus::before {
    width: 100%;
}
.inputSubmit {
    padding: 0 20px;
    width: 100%;
    height: 40px;
    background-color: #1976D2;
    border: 1px solid #1976D2;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 3px 12px 1px #ccc;
    -moz-box-shadow: 0 3px 12px 1px #ccc;
    -webkit-box-shadow: 0 3px 12px 1px #ccc;
    -o-box-shadow: 0 3px 12px 1px #ccc;
    -ms-box-shadow: 0 3px 12px 1px #ccc;
    transition: all .2s;
    font-family: montserrat;
    font-weight: 500;
}

/* table */
.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    max-width: 500px;
}
.table .thead-dark td {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}
.table td, .table th {
    padding: 12px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

/* header */
#header {
    padding: 15px;
    background: #1976D2;
    color: #fff;
    box-shadow: 0 1px 5px 1px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header img {
    max-width: 30px;
}
#header h1 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

@media (max-width: 500px) {
    /* input */
    .input-group input {
        width: 100%;
    }
}